<div class="employee-container mat-elevation-z8">

  <h4>Employees</h4>

  <table mat-table [dataSource]="dataSource" class="employee-table"
         matSort
         matSortDisableClear matSortDirection="desc" cdkDropListGroup>
    <ng-container *ngFor="let column of columnDefinitions; let i = index" [matColumnDef]="column.def">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          cdkDropList
          cdkDropListLockAxis="x"
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="dropListDropped($event, i)"
          cdkDrag
          (cdkDragStarted)="dragStarted($event, i)"
          [cdkDragData]="{name: column.def, columIndex: i}">
        {{ column.def }}
      </th>
      <span *ngIf="column.def === 'name'">
        <td mat-cell *matCellDef="let row">
         <a class="pointer" target="_blank" routerLink="{{ '/' + row.id }}">{{ row[column.def] }}</a>
        </td>
      </span>
      <span *ngIf="column.def !== 'name' && column.def !== 'dateOfBirth'">
        <td mat-cell *matCellDef="let row">{{ row[column.def] }}</td>
      </span>
      <span *ngIf="column.def === 'dateOfBirth'">
        <td mat-cell *matCellDef="let row">{{ row[column.def] | date: 'longDate' }}</td>
      </span>
    </ng-container>

    <tr class="pointer" mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
  </table>

  <form [formGroup]="form" class="filter">
    <mat-checkbox
      *ngFor="let cd of columnDefinitions" [formControlName]="cd.def"
      [(ngModel)]="cd.hide"
    >{{cd.label}}</mat-checkbox>
  </form>
</div>
