table {
  width: 100%;
}

.mat-sort-header-container {
  display:flex;
  justify-content:center;
}

.pointer{
  cursor: pointer;
}

.filter {
  padding: 10px 0;
  height: auto;
  mat-checkbox {
    margin-right: 10px;
  }
}
